<section class="bg-black  header relative pt-2 items-center flex h-screen max-h-860-px">
   <div class="container mx-auto items-center flex flex-wrap">
      <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
         <div class="pt-2 sm:pt-0">
            <h1 class="font-semibold font-sans text-6xl text-white uppercase"> Construim</h1>
            <h1 class="font-bold text-6xl text-white uppercase">Viitorul</h1>
        
        <div class="mt-4">
            <h4 class="text-blueGray-400 uppercase">Parteneriate / Publicitate </h4>
        </div>

            <div class="pt-32 sm:pt-0 ml-6">
                <h1 class="font-bold font-sans text-6xl text-white ">Parteneriate</h1>
                <p class=" font-sans text-lg text-blueGray-400 ">Te ocupi cu ceva fabulos? Ai o solutie sau livrezi un serviciu de larg interes? Hai sa ne promovam reciproc!</p>
            
        <div class="container mx-auto px-4">
            <div class="container mt-10 relative w-full">
                <h1 class="border-l-2 font-semibold text-4xl ml-8 uppercase">Conecteaza-<b>ne</b></h1>
                    <div class="row">
                        <div class="col">
                            <p class="border-b-2 border-gray-600 px-3 py-3 text-gray-100 bg-black rounded text-xs w-full uppercase"> Nume</p>  
                        </div>
                        <div class="col">
                           <p class="border-b-2 border-gray-600 px-3 py-3 text-gray-100 bg-black rounded text-xs w-full uppercase"> Email</p> 
                        </div>
                    </div>
                </div>
                  
           </div>
        </div>
     </div>
   </div>
</div>

   <img class="absolute top-0 b-auto right-0 sm:w-6/12 -mt-10 sm:mt-0 w-10/12 max-h-800-px" src="../assets/images/icon-6.png" alt="...">
</section>