<section class="bg-white  header relative pt-2 items-center h-full flex mt-12 ">
            <div class="container mx-auto px-4">
                <div class="mb-12 flex flex-wrap -mx-4 justify-start">
                   <div class="px-4 relative w-full lg:w-8/12 text-left">
                    
                      <h2 class="text-6xl font-bold mt-0 mb-1 text-blueGray-700">Publicitate</h2>
                      <p class="mt-2 mb-4 text-xl leading-relaxed text-blueGray-400">The time is now for it to be okay to be great. People in this world shun people for being great.</p>
                   </div>
                </div>
                <div class="flex flex-wrap -mx-4">
                   <div class="px-4 relative w-full lg:w-3/12">
                      <div class="border-2 border-gray-700 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg">
                          <p class=" text-center text-xl pt-4">Sunt consultant</p>
                           <div class="px-6"><img alt="..." src="../assets/images/1.jpeg" class="w-full"></div>
                          <p class="text-center text-sm pb-4">Vezi pachete consultanti</p>
                      </div>
                   </div>

                   <div class="px-4 relative w-full lg:w-3/12">
                        <div class="border-2 border-gray-700 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg">
                            <p class=" text-center text-xl pt-4"><b>Sims</b>Desktop Ads</p>
                             <div class="px-6"><img alt="..." src="../assets/images/4.jpeg" class="w-full"></div>
                            <p class="text-center text-sm pb-4">Vezi tarife de publicitate</p>
                        </div>
                   </div>
                   <div class="px-4 relative w-full lg:w-3/12">
                    <div class="border-2 border-gray-700 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg">
                        <p class=" text-center text-xl pt-4">Advertoriale</p>
                         <div class="px-6"><img alt="..." src="../assets/images/2.jpeg" class="w-full"></div>
                        <p class="text-center text-sm pb-4">Vezi ratecard</p>
                    </div>
                   </div>
                     <div class="px-4 relative w-full lg:w-3/12">
                          <div class="border-2 border-gray-700 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg">
                              <p class="text-center text-xl pt-4"><b>Sims</b>Marketplace</p>
                               <div class="px-6"><img alt="..." src="../assets/images/4.jpeg" class="w-full"></div>
                              <p class="italic text-center text-sm pb-4">In curand</p>
                         </div>
                    </div>
                </div>
             </div>
</section>

 <section class="bg-white  header relative pt-2 items-center h-full flex mt-12 ">
     <div class="container mx-auto px-4">
         <div class="mb-12 flex flex-wrap -mx-4 justify-start">
            <div class="px-4 relative w-full  text-left">
                <h1 class="border-l-2  text-4xl ml-8 uppercase">Solicita oferta <b>personalizata</b></h1></h1>
                
                <div class="flex flex wrap">
                 <div class="container mt-10 relative w-full">
                     <div class="row pt-4">
                       <div class="col">
                           <p class="border-b-2 border-gray-600 px-3 py-3 text-black bg-white rounded text-xs w-full uppercase">Nume</p>  
                       </div>
                       <div class="col">
                          <p class="border-b-2 border-gray-600 px-3 py-3 text-black bg-white rounded text-xs w-full uppercase"> Email</p> 
                          </div>
                      </div>
                   </div>
                   <div class=" container mt-10 relative w-max pt-2 ml-6" >
                    <div class="relative w-full mb-3">
                        <label class="block uppercase text-black text-xs  mb-2 ml-1">Solicitarea ta</label>
                        <textarea  type="textarea" rows="2"  class="px-3 py-3  bg-white text-sm w-full ease-linear border-b-2 border-gray-400"></textarea></div>
                        <button class="inline-block align-middle uppercase border text-white bg-black text-xs px-3 py-2 absolute bottom-4 right-0">Trimite mesaj</button>
                   </div>
                 </div>
                </div>
                </div>
            </div>
        </div>
 </section>