<nav class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-black shadow">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
     <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
        <img src="../assets/images/logo.png" alt="">
     </div>
     <div class="lg:flex flex-grow items-center bg-black lg:bg-opacity-0 lg:shadow-none hidden" id="example-collapse-navbar">
        <ul class="flex flex-col lg:flex-row list-none lg:ml-auto items-center">
           <li class="inline-block relative">
              <a class="hover:text-blueGray-500 text-white px-3 py-4 lg:py-2 flex items-center text-xl uppercase font-bold" href="#pablo">Acasa</a>
           </li>
           <li class="inline-block relative">
            <a class="hover:text-blueGray-500 text-white px-3 py-4 lg:py-2 flex items-center text-xl uppercase font-bold" href="#pablo">Stiri</a>
           </li>
           <li class="inline-block relative">
            <a class="hover:text-blueGray-500 text-white px-3 py-4 lg:py-2 flex items-center text-xl uppercase font-bold" href="#pablo">Fiantari</a>
           </li>
           <li class="inline-block relative">
            <a class="hover:text-blueGray-500 text-white px-3 py-4 lg:py-2 flex items-center text-xl uppercase font-bold" href="#pablo">Aplicatii</a>
           </li>
           <li class="inline-block relative">
            <a class="hover:text-blueGray-500 text-white px-3 py-4 lg:py-2 flex items-center text-xl uppercase font-bold" href="#pablo">Servicii</a>
           </li>
           <li class="inline-block relative">
            <a class="hover:text-blueGray-500 text-white px-3 py-4 lg:py-2 flex items-center text-xl uppercase font-bold" href="#pablo">Comunicate</a>
           </li>
           <li class="inline-block relative">
            <a class="hover:text-blueGray-500 text-white px-3 py-4 lg:py-2 flex items-center text-xl uppercase font-bold" href="#pablo">Consultanta</a>
           </li>
           <li class="inline-block relative">
            <a class="hover:text-blueGray-500 text-white px-3 py-4 lg:py-2 flex items-center text-xl uppercase font-bold" href="#pablo">Parteneri</a>
           </li>
           <li class="inline-block relative">
            <a class="hover:text-blueGray-500 text-white px-3 py-4 lg:py-2 flex items-center text-xl uppercase font-bold" href="#pablo">Contact</a>
           </li>

           <button class="btn flex items-center">
              <a class="inline-block text-black bg-pink-500 text-base font-bold px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150" href="#" target="_blank">
              Contul meu
              </a>
           </button>

        </ul>
     </div>
  </div>
</nav>